<form (ngSubmit)="onSubmit(myform)" #myform="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="side">Choose side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let opt of availableSides" [value]="opt.value">
        {{ opt.display }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Add Character</button>
</form>
